  - name: Disable the redis
    ansible.builtin.command: dnf module disable redis -y

  - name: enable the redis
    ansible.builtin.command: dnf module enable redis:7 -y

  - name: install redis
    ansible.builtin.package:
      name: redis
      state: present

  - name: allow remote connections
    ansible.builtin.replace:
      path: /etc/redis/redis.conf
      regexp: '127.0.0.1'
      replace: '0.0.0.0'

  - name: update
    ansible.builtin.lineinfile:
      path: /etc/redis/redis.conf
      regexp: 'protected-mode'
      line: 'protected-mode no' 

  - name: Start and enable service
    ansible.builtin.service:
      name: redis
      state: started
      enabled: yes